:root {
    /* ===  buttons ===*/
    --button-primary: rgb(99, 95, 199);
    --button-secondary: rgb(168, 164, 255);
    --button-cancel: rgb(228, 227, 238);
    --button-delete: rgb(234, 85, 85);




}